body{
  padding-top: 100px;
  vertical-align: middle;
  margin: auto;
}

#myBar {
  width: 10%;
  height: 100px;
  background-color: red;
  text-align: center;
  /* To center it horizontally (if you want) */
  line-height: 30px;
  /* To center it vertically */
  color: white;
}

button {
  margin-top: 20px;
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}